/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/gpt-marketer.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/backend/agents/writer.py
/gpt-marketer/
/frontend/static/outputs/

.env
.venv/

backend/__pycache__/
backend/agents/__pycache__/
backend/agents/models/__pycache__/
backend/agents/models/spam_model.py
backend/agents/models/spam_model.pyc
backend/agents/models/spam_model.pyc



